.flex-1 {
  flex: 1;
}

.flex-3 {
  flex: 3;
}

.flex-2 {
  flex: 2;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 20px;
}

.contact-text {
  margin: 10px 15px;
}

.contact-row + .contact-row {
  margin: 15px 0px;
}
