//  "Columns" with each flex setting
.flex-1 {
  flex: 1;
}

.flex-3 {
  flex: 3;
}

.flex-2 {
  flex: 2;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

// Contact sections that are above eachother
.contact-row + .contact-row {
  margin: 15px 0px;
}

//  Actual text inside each contact row
.contact-text {
  margin: 10px 15px;
}
