#landing-headline {
  background-image: url('../images/Speakers_on_shelf.jpg');
  height: 650px;
  font-family: 'Solway', serif;
}

#nav-wrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
}

#brand-header {
  font-family: 'Solway', serif;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 35px;
}

#top-right-section-header {
  background: rgb(248, 245, 202);
  height: 40px;
  padding-left: 20px;
}

#top-left-section-header {
  background: rgb(77, 17, 8);
  padding: 20px 0px 20px 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
}

#tl-section-wrapper {
  background: rgba(77, 17, 8, 0.9);
  border-radius: 7px;
  padding-bottom: 200px;
  flex: 3;
  height: 100px;
}

#tr-section-wrapper {
  flex: 1;
  background: rgba(248, 245, 202, 0.9);
  border-radius: 7px;
  padding-bottom: 200px;
  flex: 1;
  margin-left: 20px;
  height: 500px;
}

#tl-section-body {
}

#row-1 {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 20px 20px;
}
