body {
  font-family: 'Solway', serif;
  background: rgb(34, 34, 34);
}

html,
body {
  padding: 0px;
  margin: 0px;
}

.page-wrapper {
  padding: 0px 20px;
  background-image: url('../images/Speakers_on_shelf.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -160px;
  overflow: scroll;
}

// Sub header text on landing page
#landing-headline {
  padding: 10px 10px;
  width: 50%;
  font-size: 50px;
  color: black;
  text-shadow: 4px 4px rgb(179, 106, 106);
  text-align: center;
  border-radius: 7px;
  margin: 240px auto 200px auto;
  background: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  box-sizing: border-box;
}

//  Navbar section
#nav-wrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  transition: 0.4s;
}

#nav-text {
  font-family: 'Pacifico', cursive;
  padding: 0px;
  letter-spacing: 3.5px;
  text-align: center;
  color: white;
  font-size: 45px;
  font-style: italic;
}

// Top section
.top-section-header {
  background: rgba(15, 15, 15, 0.9);
  padding: 20px 0px 20px 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
  border-radius: 7px 7px 0px 0px;
}

.top-section-wrapper {
  border-radius: 7px;
  padding-bottom: 200px;

  + .top-section-wrapper {
    margin-left: 20px;
  }
}

#tl-section-body {
  background: rgba(77, 17, 8, 0.9);
  border-radius: 0px 0px 7px 7px;
  padding: 25px;
  color: white;
  font-size: 30px;
  line-height: 1.4;
  border-top: white 2px solid;
}

#tr-section-body {
  background: rgba(248, 245, 202, 0.9);
  border-radius: 0px 0px 7px 7px;
  padding: 25px 20px;
  color: black;
  font-size: 25px;
  border-top: white 2px solid;
}

// Footer section
#footer {
  position: fixed;
  bottom: 0;
  display: block;
  height: 5px;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}
