@media screen and (max-width: 600px) {
  #nav-text {
    font-size: 50px;
    line-height: 1.2;
    padding: 10px;
  }

  #landing-headline {
    width: 100%;
    margin: 220px auto 80px auto;
  }

  .row {
    flex-direction: column;
  }

  .top-section-wrapper {
    width: 100%;
    margin: 15px auto;
    padding-bottom: 0px;
  }

  #tl-section-body {
    font-size: 20px;
  }

  #tr-section-body {
    font-size: 20px;
    padding: 3px;
  }

  .contact-row {
    margin-top: 10px;
  }

  .tr-section-wrapper {
    margin-left: auto;
  }

  .top-section-wrapper + .top-section-wrapper {
    margin-left: auto;
  }

  #brands-logo-wrapper {
    align-items: center;
  }

  #brands-header {
    padding: 60px 40px;
    background-size: 100% auto;
  }
  #brands-header-text {
    font-size: 40px;
    width: 100%;
    padding: 10px 0px;
  }

  .brand-listing-wrapper {
    + .brand-listing-wrapper {
      margin: 10px 0px;
    }

    .brand-listing-logo {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
  [class*='flex-'] {
    flex: 1;
  }

  #landing-headline {
    width: 100%;
    margin: 220px auto 220px auto;
  }

  .row {
    flex-direction: column;
  }

  .top-section-wrapper {
    width: 100%;
    margin: 15px auto;
    padding-bottom: 0px;
  }

  .tr-section-wrapper {
    width: 60%;
    margin-left: 20px;
  }

  .top-section-wrapper + .top-section-wrapper {
    margin-left: auto;
  }

  #brands-header {
    padding: 100px;
    background-size: 100% auto;
  }
  #brands-header-text {
    width: 100%;
  }
}
